<!DOCTYPE html>
<html>
<head>
    <style>
        /* Add your styles here */
    </style>
</head>
<body>
    <h1>Welcome to PostTree, {{name}}!</h1>
    <p>Thank you for joining our community. We're excited to have you here!</p>
    <p>Get started by:</p>
    <ul>
        <li>Completing your profile</li>
        <li>Following some interesting topics</li>
        <li>Creating your first post</li>
    </ul>
    <p>Need help? Just reply to this email.</p>
</body>
</html> 